<div class="usercont">
	<div class="header">
		<img src="img/control.png" class="fhui"/>
		<a href="enroll.html">登录&nbsp;/&nbsp;快速注册</a>
	</div>
	<div class="nav">
		<ul>
			<li>
				<a href="">
					<img src="img/down/collect.png" />
					<span>收藏与历史</span>
				</a>
			</li>
			<li>
				<a>
					<img src="img/down/down.png" />
					<span>离线下载</span>
				</a>
			</li>
			<li>
				<a>
					<img src="img/down/night2.png" />
					<span>夜间模式</span>
				</a>
			</li>
			<li>
				<a>
					<img src="img/down/clear2.png" />
					<span>清除缓存</span>
				</a>
			</li>
		</ul>
		<div class="sub-nav">
			<li>
				<a href="#">绑定手机号码</a>
			</li>
			<li>
				<a href="#">关注与评论</a>
			</li>
			<li>
				<a href="#">意见反馈</a>
			</li>
			<li>
				<a href="#">检查更新</a>
			</li>
			<li>
				<a href="#">关于我们</a>
			</li>
		</div>
	</div>
	<div class="out">
		退出登录
	</div>
</div>
